.App {
    display: grid;
    padding: 20px;
}
.stars {
    display: grid;
    color: red;
    grid-template-columns:repeat(auto-fill, minmax(40px, 1fr));

}
.onOff {
    display:  grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    background-color: gold;
}
.onOffBlock {
    grid-column-start: 2;
    grid-column-end: 3;
}
.accordion {
    display:  grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}
.accordionSection {
    grid-column-start: 2;
    grid-column-end: 3;
}